.pagination {
  $block: &;

  margin: 20px auto;
  text-align: center;

  @media screen and (orientation: landscape) {
    width: 50%;
  }
  @media screen and (orientation: portrait) {
    width: 85%;
  }

  &__link {
    padding: 3px 10px;
    height: 30px;
    border: $primary-color-dark solid 1px;
    border-right: none;
    background-color: white;
    color: #1b0c29;

    cursor: pointer;
    font-weight: bold;

    &:focus {
      outline: none;
    }

    &:not(&_current) {
      background-color: $primary-color;
      color: white;
      @include btn-color($block, $primary-color, white);
    }

    &:hover:not(&_current) {
      color: #6614b0;
      cursor: pointer;
    }

    &_first {
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
    }

    &_last {
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      border-right: $primary-color-dark solid 1px;
    }

    &_current {
      background-color: white;
      color: $primary-color;
      //border-color: $primary-color;
      cursor: auto;
    }
  }
}