.login-popup {
  @extend %popup;
  padding: 0;
  margin: auto 0;
  max-width: 300px;

  &__close-popup {
    @extend %popup__close-popup
  }

  &__content {
    @extend %popup__content;
  }

  &__hr {
    margin: 16px -16px;
  }

  &__title {
    @extend %popup__title;
  }

  &__continue-with-text {
    margin: 8px 0;
    font-size: 9px;

    text-align: center;
    font-weight: bold;
    color: $muted-color-dark;
  }

  &__signup-link {
    font-size: $small-font-size;
    text-align: center;
    font-weight: bold;
  }
}