@import "../../modules/scss/variables";

.profile-popup {
  @extend %popup;
  align-items: center;

  max-width: 400px;
  @media screen and (orientation: portrait) {
    width: 97%;
  }

  &__title {
    @extend .title;
    @extend %popup__title;
  }

  &__content {
    @extend %popup__content;
  }

  &_main {
    margin-top: 4%;
  }

  &__profile-info {
    max-width: fit-content;
    margin: 20px auto 10px;
  }

  &__profile-icon {
    display: flex;
    justify-content: center;
    width: 140px;
    height: 140px;
    margin: 0 auto;

    overflow: hidden;
    object-fit: cover;
    border-radius: 100%;
  }

  &__double-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin: 0 auto;
    @media screen and (orientation: landscape) {
      padding: 0 40px;
    }
    &_center {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__btn {
    width: 140px;
    margin: 0 4px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}