@import "../../modules/scss/variables";

.game-over {
  $block: &;
  position: relative;
  width: 42rem;
  align-items: center;
  margin: auto 0;
  background-color: rgba(226, 216, 216, 0.6);
  border-radius: 5px;
  max-width: 56rem;


  &_multi {
    width: 56rem;
  }

  &__column {
    display: inline-block;
    width: 33.33%;
    vertical-align: top;
  }

  &__title {
    display: block;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-top: 4%;
  }

  &__content {
    @extend %popup__content;
  }

  &_main {
    margin-top: 4%;
  }

  &__profile-info {
    max-width: fit-content;
    margin: 20px auto 10px;
  }

  &__profile-icon {
    display: flex;
    justify-content: center;
    width: 140px;
    height: 140px;
    margin: 0 auto;

    overflow: hidden;
    object-fit: cover;
    border-radius: 100%;
  }

  &__btn {
    width: 140px;
    margin: 0 4px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}