@import "../../modules/scss/variables";

.game-over {
  $block: &;
  position: relative;
  align-items: center;
  margin: auto 0;
  background-color: rgba(226, 216, 216, 0.6);
  border-radius: 5px;
  max-width: 56rem;

  @media screen and (orientation: landscape) {
    width: 42rem;
  }
  @media screen and (orientation: portrait) {
    width: 90%;
  }
  @media screen and (orientation: landscape) and (max-width: 700px){
    width: 60%;
    font-size: 25px;
    margin-top: 2%;
  }

  &_multi {
    width: 56rem;
    @media screen and (max-width: 900px) and (orientation: portrait) {
      margin-top: 2%;
      width: 95%;
    }

    @media screen and (max-width: 900px) and (orientation: landscape) {
      margin-top: 2%;
      width: 75%;
    }
  }

  &__column {
    display: inline-block;
    width: 33.33%;
    vertical-align: top;
    @media screen and (max-width: 900px) {
      width: 100%;
    }

    &_user {
      @media screen and (max-width: 900px) {
        display: none;
      }
    }
  }

  &__title {
    display: block;
    text-align: center;
    font-size: 45px;
    margin-top: 4%;
    @media screen and (orientation: landscape) and (max-width: 700px){
      font-size: 30px;
      margin-top: 2%;
    }
    font-weight: bold;
  }

  &__content {
    @extend %popup__content;
  }

  &_main {
    margin-top: 4%;
    @media screen and (orientation: landscape) and (max-width: 700px){
      margin-top: 2%;
    }
  }

  &__profile-info {
    max-width: fit-content;
    margin: 20px auto 10px;
    @media screen and (orientation: landscape) and (max-width: 700px){
      margin: 10px auto 5px;
    }
  }

  &__profile-icon {
    display: flex;
    justify-content: center;
    width: 140px;
    height: 140px;
    margin: 0 auto;

    overflow: hidden;
    object-fit: cover;
    border-radius: 100%;
  }

  &__btn {
    width: 140px;
    margin: 0 4px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}