.authors {
  $img-size: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__description {
    text-align: center;
    font-size: 20px;
  }

  &__header {
    font-size: 40px;
    font-weight: bold;
  }

  &__img {
    height: $img-size;
    width: $img-size;

    border: 1px solid $border-color;
    border-radius: 100%;
  }

  &__item {
    width: 400px;
    margin: 0 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-top: 80px;
  }

  &__title {
    text-align: center;
    font-size: 30px;
    margin: 10px 0 0;
  }

  &__subtitle {
    text-align: center;
    font-size: 16px;
    margin: 0 0 10px;
    color: $muted-color-dark;
  }
}