.result-redirect {
  $block: &;
  padding: 1rem;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  position: absolute;
  bottom: 0;

  &__item {
    &_center {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      font-family: Helvetica, sans-serif;
      font-weight: normal;
    }
  }

  &__btn {
    @extend .btn;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #a3653bde;
    -webkit-box-shadow: 0 2px #977575a6;
    -moz-box-shadow: 0 2px #977575a6;
    box-shadow: 0 2px #977575a6;
    height: 55px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: 33rem;
  }

  &__center {
    margin-left: auto;
    margin-right: auto;
    width: 18rem;
    padding-top: 1rem;
  }

  &__link {
    text-align: center;
    color: #282222cc;
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
  }

  &__one-btn {
    position: absolute;
    bottom: 0;
    top: 38%;
    left: 50%;
    transform: translate(-50%, 70%);
  }

  &__text {
    font-size: 25px;
  }
}
