@import url('https://fonts.googleapis.com/css?family=Russo+One');

@font-face {
  font-family: Anurati;
  src: url('../../fonts/ANURATI/Anurati-Regular.ttf') format('ttf'),
       url('../../fonts/ANURATI/Anurati-Regular.otf') format('otf');
  font-style: normal;
  font-stretch: normal;
}
