@import "../../modules/scss/variables";

.signup-popup {
  @extend %popup;

  -webkit-align-self: center;
  align-self: center;
  padding: 0;
  max-width: 450px;

  &_main {
    margin: 4% 0 0 0;
  }

  &__title {
    @extend %popup__title;
  }

  &__content {
    @extend %popup__content;
  }

  &__hr {
    margin: 12px (0 - $popup-right-padding - 1) 12px (0 - $popup-left-padding - 1);
  }

  &__explanation-text {
    margin: 8px 0;
    font-size: 12px;
    color: $muted-color-dark;
  }

  &__double-btn {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
  }

  &__signup-btn {
    margin-right: 4px;
  }
  &__cancel-btn {
    margin-left: 4px;
  }
}