.login-form {

  &__remember-me-label,
  &__forgot-password-link {
    font-size: $small-font-size;
  }

  &__remember-me-label {
    margin-left: 4px;
  }

  &__double-btn {
    margin-top: 10px;
  }

  &__sumbit-btn {
    margin-right: 4px;
    flex-grow: 1;
  }

  &__cancel-btn {
    flex-grow: 0;
  }
}