.game-info {
  $block: &;

  align-items: center;
  margin: auto 0;

  &_single {
    padding-top: 3rem;
    @media screen and (orientation: landscape) and (max-width: 700px){
      padding-top: 10px;
    }
  }

  &__line {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  &_main {
    display: block;
    padding-top: 9rem;
    &_title {
      margin-bottom: 2rem;
    }
  }
  &__one-btn {
    position: absolute;
    bottom: 0;
    top: 38%;
    left: 50%;
    transform: translate(-50%, 70%);
  }

  &__avatar {
    border-radius: 8rem;
    width: 185px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  &__nickname {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 45px;
  }


  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 0 1rem;
    @media screen and (orientation: landscape) and (max-width: 700px){
      padding: 5px 1rem 0 1rem;
    }
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    &-name {
      font-size: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 10px;
      @media screen and (orientation: landscape) and (max-width: 700px){
        font-size: 20px;
      }
    }
    &-value {
      font-size: 35px;
      font-weight: bold;
      padding-left: 10px;
      @media screen and (orientation: landscape) and (max-width: 700px){
        font-size: 25px;
      }
    }
  }
}