.scoreboard {
  $block: &;
  $border-radius: 7px;
  $gold-color: #FFD700;
  $silver-color: #C0C0C0;
  $bronze-color: #CD7F32;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &__items {
    max-width: 600px;
    min-width: 450px;
    border-radius: $border-radius;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 60px;

    border-bottom: 1px solid $border-color;

    &_place {
      &_first, &_second, &_third {
        font-size: 20px;
        font-weight: bold;
        #{$block}__link {
          position: relative;
          &::before {
            @extend .icon;
            @extend .icon_type_crown;
            position: absolute;
            top: -25px;
            width: 40px;
            height: 40px;
            content: "";
          }
        }
      }
      &_first {
        #{$block}__link::before {
          background-color: $gold-color;
        }
      }
      &_second {
        #{$block}__link::before {
          background-color: $silver-color;
        }
      }
      &_third {
        #{$block}__link::before {
          background-color: $bronze-color;
        }
      }
    }
  }

  &__user-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }


  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__avatar {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 100%;
  }

  &__place {
    display: inline-block;
    margin-right: 10px;
    width: 20px;
  }
}